h1 {
    text-align:center;
}

.forecastContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.day{
    width: 9.5em;
    height: 50vh;
    margin: 1px;
    text-align:center;
    border: 2px solid gray;
    border-radius: 15px;
    
}

.dayName{
    
}

.weatherIcon{
    width: 80%;
}


