h1 {
    text-align:center;
}

.forecastContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.day{
    width: 9.7em;
    height: 50vh;
    margin: 1px;
    text-align:center;
}

.dayName{
    
}

.dayTemp{
    width: max-content;
    text-align:left;
}

.nightTemp{
    width:50%;
    color: dimgray;
    text-align:right;
}


.weatherIcon{
    width: 80%;
}

.hourly{
    width: 100%;
    height: 60vh;
    display: flex;
    white-space: nowrap;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}


.hour{
    width: 200px;
    /*height: 50%;*/
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}






