h1 {
    text-align:center;
}

.currentWeather{
    font-size:large;
}

.currentTemperature {
    font-size: 400%;
}

.forecastContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.day{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 12.5vh;
    margin: 1px;
    text-align:center;
    justify-content: space-between;
}

.dayName{
   align-self: center; 
   justify-self: baseline;
   text-align: left;
   font-size: 1.5em;
   width: 25%;
}

.dayTemp{
    width: 2em;
    align-self: baseline;
    justify-self: baseline;
    text-align: left; 
}

.temperatures{
    display: flex;
    justify-self: end;
    align-self: center;
    text-align: right;
    font-size: 1.5em;
    justify-content: space-between;
    width: 25%;
}

.nightTemp{
    width: 2em;
    color: #404040;
    justify-self: end;
    align-self: end;
}


.weatherIcon{
    width: 80%;
    height: 50%
}

.weekForecastImg{
    justify-items: center;
    align-self: center;
}


.hourly{
    width: 100%;
    height: 300px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
    border: 2px solid gray;
    border-right: hidden;
    border-left: hidden;
    overflow-wrap: break-word;
}


.hour{
    width: 200px;
    padding: 10px;
    padding-top: 20px;
    height: 110%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: baseline;
}

.hourly::-webkit-scrollbar{
    display: none;
}

.rain {
    background: linear-gradient(to bottom, #006476, #dcdcdc 70%);
}

.snow{
    background: linear-gradient(to bottom, #686868, #ffffff 70%);
}

.sunny{
    background: linear-gradient(to bottom, #ffa500, #bebebe 70%);
}



@media only screen and (max-width: 414px) {
    .dayName{
        font-size: 1.2em;
    }
    .temperatures {
        font-size: 1.2em;
    }
    .hour{
        padding-top: 0;
        width: 40%;
        height: 100%;
    }
    .hourly{
        height: 200px;
    }
    .weatherIcon{
        height: 30%;
        width: 50%;
    }
    .weekForecastImg{
        width: 20%;
    }
}


